body {
    background-color: black;
}

#firstdownload {
    position: relative;
    padding: 10px;
    top: 20%;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    text-align: center;
}

a {
    border-color: lightblue;
    position: relative;
    color: lightskyblue;
    background-image: linear-gradient(to bottom, #8241f9, #4e277b);
    border: 1px solid #8241f9;
    border-radius: 25px;
    padding: 10px;
    top: 30%;
}

