html,
body {
  overflow-x: hidden;
}

body {
  background-color: black;
}

.title {
  font-weight: bold;
}

.info .title {
  color: antiquewhite;
  font-size: 20px;
  line-height: 34px;
}

.info p {
  color: white;
  cursor: text;

}

main {
  margin: 10px;
  border-radius: 15px;
  margin-top: 76px;
}

.nav-link {
  color: antiquewhite !important;
}

.nav-link:hover {
  color: wheat !important;
}

#link {
  color: darkcyan;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: transparent !important;
  padding: 0;
}

.cont-nav {
  position: relative;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid antiquewhite;
  background-color: #343a40;
  width: 100%;
  padding: .5rem 1rem;
}
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

input[type=radio] {
  display: none;
}

.cards {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  margin-top: 100px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease, opacity .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info {
  display: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
  transform: translatex(-60%) scale(.7);
  opacity: .3;
  z-index: 0;
}

.left-neighbor {
  transform: translatex(-60%) scale(.7);
  opacity: .3;
  z-index: 1;
}

.right-neighbor {
  transform: translatex(60%) scale(.7);
  opacity: .3;
  z-index: 1;
}

.active-slide {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 2;
}

